{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HarmoniConnect</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'eventapp/css/index.css' %}">
</head>

<body>
    <div class="bg">
        <div class="header">
            <div class="navbar">
                <div class="logo">
                    HarmoniConnect
                </div>
                <ul class="links">
                    <li><a href="{% url 'eventapp:index' %}" class="active">Home</a></li>
                    <li><a href="#" class="active">About us</a></li>
                    <li id="create"><a href="{% url 'eventapp:create_event' %}">+ Create event</a></li>
                    {% if user.is_authenticated %}
                        <li id="view"><a href="{% url 'eventapp:show_data' %}">View events</a></li>
                        <li id="logout"><a href="{% url 'users:logout' %}">Logout</a></li>
                    {% else %}
                        <li id="login"><a href="{% url 'users:login' %}">Login</a></li>
                        <li id="signup"><a href="{% url 'users:signup' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="container">
                <div class="center">
                    <p class="title">Welcome to <br><span>HarmoniConnect</span></p>
                    <div class="bottom">
                        <div class="item1">
                            <p>
                                Are you an event service provider?
                            </p>
                            <button class="call">Create Event</button>
                        </div>
                        <div class="item2">
                            <p>Let's create a day for you to remember together.</p>
                            <button class="call">Signup</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="about">
            <h1>AboutUs</h1>
            <p>Driven by a commitment to excellence, we provide a platform for enchanting events<br>that leave a lasting impression on your memories</p>
        </div>
        <div class="who">
            <h1>Who we are</h1>
            <p>
                This platform aims to seamlessly connect entertainment service providers with clients,
                revolutionizing the way entertainment services are discovered and booked within underserved
                communities.
                <br>
                We envision not only fostering economic development but also enhancing the cultural vibrancy of
                these
                communities.
            </p>
            <button>Know More</button>
        </div>
    </div>
</body>

</html>