{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
</head>

<body>
    <div class="container">
        <div class="logo">
            <h2>HarmoniConnect</h2>
        </div>
        <p >Sign in into your acccount</p>
        {% if form.errors %}
        <p class="error">Your username or password is incorrect. Please try again!</p>
        {% endif %}
        <form action="{% url 'users:login' %}" action="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login">
            <input type="hidden" name="next" value="{% url 'eventapp:index' %}">
        </form>
        <p class="create-account">
            Don't have an account? <span><a href="{% url 'users:SignUp' %}">Sign up</a></span>
        </p>
    </div>
</body>

</html>